header{
  >ul{
    >li{
      &:before{
      }
      &:hover{
        &:before{
        }
      }
      // NOTE: Menu
      &.men{
        // font-size: 130%;
        width: 40px;
        // min-width: 30px;
        &:before{
          display: block; width: 100%; text-align: center; font-size: 130%;
          //  padding: 0; margin: 0;
        }
      }
      // NOTE: Control
      &.ctl{
        // width: auto;
        // max-width: 156px;
        // background-color: green;
        // width: 100%;
        >ul{
          // display: table;width: 100%;
          // main Default
          &:nth-child(1){
          }
          // main Book
          &:nth-child(2){
          }
          // main Lookup
          &:nth-child(3){
          }
          >li{
            // display: table-cell;position: relative; 
            line-height: 25px; height: 50px;
            >div{
              padding: 11px 1px 12px 1px; font-size: 160%;
              &:before{
                color: #8f9193;
                // font-size: 140%;
              }
              &:hover{
                &:before{
                  color:$ColorRed;
                }
              }
            }
            // NOTE: Arrow up
            // &.active {
            //   &:before, &:after{
            //       position:absolute;display:block;width:0px;height:0px;vertical-align:middle;border:solid transparent;
            //   }
            //   &:before{
            //       border-bottom-color:#ccc;border-width:6px;right:14px;bottom:-13px;
            //   }
            //   &:after{
            //       border-bottom-color:#fff;border-width:5px;right:15px;bottom:-13px;
            //   }
            // }
            // NOTE: Arrow down
            // &.active {
            //   &:before, &:after{
            //       position:absolute;display:block;width:0px;height:0px;vertical-align:middle;border:solid transparent;
            //   }
            //   &:before{
            //       border-top-color:#ccc;border-width:5px;right:15px;top:39px;
            //   }
            //   &:after{
            //       border-top-color:#fff;border-width:4px;right:16px;top:39px;
            //   }
            // }
            // NOTE: Arrow Common
            // &.active{
            //   &:before, &:after{
            //       position:absolute;display:block;width:0px;height:0px;content: "";vertical-align: inherit;border:solid transparent;
            //   }
            //   &:before{
            //       border-width:5px;right:48%;bottom:-3px;
            //   }
            //   &:after{
            //       border-width:5px;right:48%;bottom:-1px;
            //   }
            // }
            // if not Chapter current -> &:not(:nth-child(3))
            &:not(.link-chapter), &:not(.link-lookup){
              width: 45px; 
              // max-width: 45px;
              &.active {
                div{
                  &:before{
                    color: $ColorRed;
                  }
                }
                &:before{
                  border-top-color:$ColorRed;right:14px;
                }
                &:after{
                  border-top-color:#fff;right:14px;
                }
              }
            }
            // Bookmark -> &:nth-child(1)
            &.link-bookmark{
              div{
                &.unusable{
                  &:before{
                    color: #ccc;
                  }
                }
              }
              ul{
                &.hO{
                  // left:-32px;
                  left:-38px;
                  &:before, &:after{
                    // left:43px;
                    left:49px;
                  }
                }
              }
            }
            // Parallel -> &:nth-child(2)
            &.link-parallel{
              div{
                &.unusable{
                  &:before{
                    color: #ccc;
                  }
                }
              }
              ul{
                &.hO{
                  // left:-20px;
                  left:-76px;
                  &:before, &:after{
                    // left:32px;
                    left:85px;
                  }
                }
              }
            }
            // Chapter current -> &:nth-child(3)
            &.link-chapter{
              max-width:120px;
              width: 100%;
              // @include box-shadow(0px, 0px, 1px, 1px, #d9dbdd,inset);
              // vertical-align:middle;
              >div{
                width: 94%; padding: 7px 3%; font-size: 105%;
                overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
                text-align: left;
                // @include box-shadow(0px, 0px, 1px, 1px, #d9dbdd,inset); border-radius: 2px;
                &:hover{
                  color:$ColorRed;
                }
                &:before{
                  margin-right: 5px;
                  content: attr(title);
                }
              }
              // &.active {
              //   >div{
              //     // @include box-shadow(0px, 1px, 1px, 0px, #666,inset);
              //     color: #fff;text-shadow:0px 1px 1px #000;
              //     @include box-shadow(0px, 0px, 1px, 1px, #D4D4D4,inset);
              //     background-color: $BackgroundColorHighlight;
              //   }
              //   &:before{
              //       border-top-color:#D4D4D4;
              //   }
              //   &:after{
              //       border-top-color:$BackgroundColorHighlight;
              //   }
              // }
              >ul{
                // right:0px; 
                left:-50px;
                &.hO{
                  &:before, &:after{
                    // right:80%;
                    right:60%;
                  }
                }
              }
            }
            // Chapter previous -> &:nth-child(4)
            &.link-previous{
            }
            // Chapter next -> &:nth-child(5)
            &.link-next{
            }
            &.link-lookup{
              // max-width:120px;
              width: 100%;
              // width: auto;
              // background-color: red;
              form{
                display:table;width:100%;border-radius:2px;height:17px;line-height:24px;font-size:9pt;
                vertical-align: inherit;position: relative;
                // box-shadow:inset 0px 0px 1px 1px darken(#fff,25%);
                @include box-shadow(0px, 0px, 1px, 1px, darken(#fff,25%), inset);
                // border: 1px solid lighten($BackgroundColor,1%); background-color:#fff;
                label{
                  display:table-cell; position: relative; vertical-align: inherit;text-align: center;overflow: hidden;
                  padding: 5px;
                  input{
                    display:block;border:0;margin:0;padding:0;background-color:transparent;font-size:17px;line-height:23px; z-index: 3;
                    outline:none;
                    -webkit-appearance: none;
                    -webkit-border-radius:0; 
                    border-radius:0;
                    -webkit-tap-highlight-color:transparent;
                    &[type="search"]{
                      width:100%;
                    }
                    &:focus{
                      outline:none;
                    }
                  }
                }
              }
            }
            &.link-setting{
              ul{
                &.hO{
                  right:2px; 
                  // width: 220px;
                  &:before, &:after{
                    right:13px;
                  }
                }
              }
            }
          }
        }
      }
      // NOTE: lookup Form
      &.dig{
        // z-index:3;
      }
    }
  }
}