&.list-parallel {
  li{
    display: table; width: 96%;
    padding: 4px 2%;
    border-bottom: 1px dotted #F5F5F5;
    &:last-child {
      border-bottom: 0;
    }
    p{
      display: table-cell;
      min-width: 31px;
      color: #5A5354;
      text-align: center;
      font-size: 14px;
      line-height: 22px;
      padding:2px 1px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:nth-child(1){
        &:before {
          display: block;
          pointer-events: none;
          padding: 3px;
          border-radius: 15px;
          background-color: #fff;
          box-shadow: 0 1px 1px 1px rgba(153,150,153,0.60);
          color: #ccc;
        }
        &:hover{
          &:before {
            box-shadow: 0 1px 1px 1px #666;
            color: #666;
          }
        }
      }
      &:nth-child(2){
        // width: 90%;
        max-width: 220px;
        width: 100%;
        text-align: left;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        &:hover{
          // color: $ColorRed;
          text-shadow:0px 1px 1px #ccc;
        }
      }
    }
    &.active{
      p{
        &:nth-child(1){
          &:before{
            color: $ColorRed;
            // color: $FontColor;
            box-shadow: 0 1px 1px 1px #666;
          }
        }
        &:nth-child(2){
          // text-shadow:1px 1px 1px #ccc;
          // color: #666;
        }
      }
    }
    &.main {
      p {
        &:nth-child(1){
          &:before{
            // color: #ccc;
            box-shadow: 0 1px 1px 1px #666;
            color: #666;
          }
        }
        &:nth-child(2){
          text-shadow:1px 1px 1px #ccc;
          text-decoration: line-through;
        }
      }
    }
  }
}
/*
&.list-parallel {
  li {
    display: table; width: 96%;
    padding: 4px 2%;
    border-bottom: 1px dotted #F5F5F5;
    &:last-child {
      border-bottom: 0;
    }
    p {
      display: table-cell;
      color: #5A5354;
      cursor: default;
      font-size: 14px;
      line-height: 22px;
      padding:2px 1px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:before {
        display: inline-block;
        pointer-events: none;
        padding: 3px;
        border-radius: 15px;
        background-color: #fff;
        // box-shadow: 0 0 1px 1px #ccc;
        box-shadow: 0 1px 1px 1px rgba(153,150,153,0.60);
        color: #ccc;
        margin-right: 10px;
      }
      &:nth-child(1){
        max-width: 220px;
      }
    }
    &.active {
      p {
        color: #7F090B;
        &:before {
          color: $ColorRed;
          box-shadow: 0 1px 1px 1px #666;
        }
      }
    }
    &.main {
      p {
        text-decoration: line-through;
        &:before {
          text-decoration: none;
        }
      }
    }
    &:hover {
      p {
        text-shadow:0px 1px 1px #ccc;
        &:before {
          box-shadow: 0 1px 1px 1px #464444;
        }
      }
      &.active {
        p{
          &:before {
            // box-shadow: 0 1px 1px 1px #F80206;
          }
        }
      }
    }
  }
}
*/