@import 'Config';
@font-face {
  font-family: "Masterpiece Uni Sans";
  src: url("../fonts/MasterpieceUniSans-iOS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
// temp
@import 'web.desktop.default';